# example.pcf
set_io --warn-no-port LED[0] 99
set_io --warn-no-port LED[1] 98
set_io --warn-no-port LED[2] 97
set_io --warn-no-port LED[3] 96
set_io --warn-no-port LED[4] 95

set_io --warn-no-port BTN 79

set_io --warn-no-port CLK 21
set_io --warn-no-port CLK_1HZ 80

set_io --warn-no-port WS2812_DATA 78
